html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#Log_in_form{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 10%;
    border: 3px solid #73AD21;
    padding: 10px;

}

#Log_in_button{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;

}

#Log_out_form{

    padding-left: 10px;
    padding-top: 20%;

}
#name-and-log-row{
    align-items: center;
}

#friends_container_row{
    margin-top: 5%;
}
#search_friends{
    padding-left: 8px;
    overflow: hidden
}